{% load staticfiles %}
<html>
    <head>
<title>Billboard Messages</title>
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pinyon+Script|Poiret+One">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'billboard/css/billboard.css' %}">
    </head>
    <body>

<div class="container">
    <ol class="breadcrumb">
        <li class="home"><a href="{% url 'billboard:index' %}">Home</a></li>
    {% if not request.user.is_authenticated %}
        <li class="pull-right register"><a href="{% url 'accounts:register' %}">Register</a></li>
        <li class="pull-right login"><a href="{% url 'accounts:login' %}">Login</a></li>
    {% else %}
        <li class="pull-right logout"><a href="{% url 'accounts:logout' %}">Logout</a></li>
        <li class="pull-right hello">Hello  {{user.username}}</li>
    {% endif %}
</div>

    <div class="billboard-header">BILLBOARD</div>

{% block content %}
{% endblock content %}

</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'billboard/js/billboard.js'%}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </body>
 </html>